MODE=pose

CAMERA_WIDTH=640
CAMERA_HEIGHT=360
CAMERA_FPS=20
JPEG_QUALITY=50

LEFT_TRIM=1.0
RIGHT_TRIM=1.0

SIM_BATTERY_VOLTAGE=12.20
SIM_UPDATE_HZ=30
SIM_WORLD_WIDTH=6.0
SIM_WORLD_HEIGHT=4.0
SIM_MAX_LINEAR_SPEED=1.0
SIM_WHEEL_BASE=0.32
SIM_COMMAND_TIMEOUT=1.5
