ENVIRONMENT=prod
SIMULATOR_ENABLED=false

CAMERA_SOURCE=imx500
ROVER_IP=192.168.4.1
API_BASE_URL=http://127.0.0.1:5000/api/rover

MODE=pose
CAMERA_WIDTH=640
CAMERA_HEIGHT=360
CAMERA_FPS=30
JPEG_QUALITY=55
LEFT_TRIM=1.0
RIGHT_TRIM=1.0
